<section class="section section-footer scrollspy">
<div class="container row">
    <div class="card-panel deep-orange">
    </div>
</div>
</section">

<!--Import scripts, jQuery before materialize.js-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>
<script type="text/javascript" src="assets/js/float-panel.js"/>

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
