<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <title>{{ site.title }}</title>
  
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

  <meta name="description" content="{{ site.description }}">
  <meta name="robots" content="index,follow">
  <meta itemprop="name" content="{{ site.title }}">
  <meta name="theme-color" content="{{ site.color }}">

  <!-- <link href="{{ site.baseurl }}/assets/css/materialize.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet">
  <!-- <link type="text/css" rel="stylesheet" href="/assets/css/jordan.css"> -->
  <link type="text/css" rel="stylesheet" href="assets/css/backtop.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon-apple.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon.png">

  <style>body{background:{{ site.color }};}</style>
</head>

